{
	"ignorePatterns": ["**/node_modules/**"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/strict-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked"
	],
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off"
	},
	"overrides": [
		{
			"files": ["*.ts"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"ecmaVersion": "latest",
				"sourceType": "module",
				"project": ["./tsconfig.json"]
			}
		},
		{
			"files": ["*.astro"],
			"extends": ["plugin:astro/recommended", "plugin:astro/jsx-a11y-strict"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"extraFileExtensions": [".astro"],
				"project": ["./tsconfig.json"]
			},
			"rules": {}
		}
	]
}
